/* @tailwind base; */
@tailwind components;
@tailwind utilities;


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

input {
    border: 2px solid #020455; 
    color: #020455;
}

span {
    background-color: #020455;
    /* border: 1px solid #020455;  */
}